<html>
    <title>
        Music sync kexpress
    </title>
    <script src="/static/lib/vue.js"></script>
    <link rel="stylesheet" href="/static/home.css">
    <body>
        <h1>Music Sync</h1>
        <div id="app">
            <div>
                <label for="username">Username: </label>
                <input type="text" v-model="username" name="username">
    
                <label for="password">Password: </label>
                <input type="text" v-model="password" name="password">
            </div>
        </div>
    </body>
    <script src="/static/js/index-page.js"></script>
</html>